{% extends "main.jinja" %}

{% block page_content %}

<div id="content">
        {% for message in messages %}
        <div class="message {{'answer to-format' if message.type == 'answer' else 'question'}}">
                {{message.content}}
        </div>
        {% endfor %}
</div>

<form hx-get="/api/answer" hx-swap="none" hx-disabled-elt="textarea, button" hx-indicator="button"><textarea rows="2"
                cols="50" placeholder="Ask Anything" id="message" name="message"></textarea><input id="chat_id"
                name="chat_id" type="hidden" value="{{chat_id}}" /><button type="submit"></button>
</form>



{% endblock page_content %}